<header>
    <nav class="flex justify-between py-10 m-auto px-10 text-base font-medium tracking-widest md:items-center">
        <a href="#"><img width="45" src="../images/logo.svg" alt="isotipo codice"></a>
        <div id="menu" class=" dark:bg-opacity-0 p-7 h-[380px] w-[320px] md:flex flex-col items-start justify-around rounded-lg text-dark dark:text-white md:flex-row md:w-full md:py-0 md:h-[50px] md:bg-inherit font-plus hidden">
            <ul class="flex h-5/6 flex-col items-center justify-around md:flex-row md:justify-center w-full">
                <li class="md:px-5 hover:text-brand">
                    <a class="flex justify-center flex-row items-center" href="">
                        <svg class="dark:fill-white  fill-black mx-2" xmlns="http://www.w3.org/2000/svg" width="5" height="5" viewBox="0 0 5 5" fill="none"><circle cx="2.5" cy="2.5" r="2.5" fill="white"/></svg>Inicio
                    </a>
                </li>
                <li class="md:px-5 hover:text-brand">
                    <a class="flex justify-center flex-row items-center" href="">
                        <svg class="dark:fill-white fill-black mx-2" xmlns="http://www.w3.org/2000/svg" width="5" height="5" viewBox="0 0 5 5" fill="none"><circle cx="2.5" cy="2.5" r="2.5" fill="white"/></svg>Nosotros
                    </a>
                </li>
                <li class="md:px-5 hover:text-brand">
                    <a class="flex justify-center flex-row items-center" href="">
                        <svg class="dark:fill-white fill-black mx-2" xmlns="http://www.w3.org/2000/svg" width="5" height="5" viewBox="0 0 5 5" fill="none"><circle cx="2.5" cy="2.5" r="2.5" fill="white"/></svg>Servicios
                    </a>
                </li>
                <li class="md:px-5 hover:text-brand">
                    <a class="flex justify-center flex-row items-center" href="">
                        <svg class="dark:fill-white fill-black mx-2" xmlns="http://www.w3.org/2000/svg" width="5" height="5" viewBox="0 0 5 5" fill="none"><circle cx="2.5" cy="2.5" r="2.5" fill="white"/></svg>Tecnología
                    </a>
                </li>
                <li class="md:px-5 hover:text-brand">
                    <a class="flex justify-center flex-row items-center" href="">
                        <svg class="dark:fill-white fill-black mx-2" xmlns="http://www.w3.org/2000/svg" width="5" height="5" viewBox="0 0 5 5" fill="none"><circle cx="2.5" cy="2.5" r="2.5" fill="white"/></svg>Contacto
                    </a>
                </li>
            </ul>
            <button id="barkButton">
                <svg class="dark:fill-white fill-black" xmlns="http://www.w3.org/2000/svg" height="48" viewBox="0 -960 960 960" width="48"><path d="M480-120q-150 0-255-105T120-480q0-150 105-255t255-105q8 0 17 .5t23 1.5q-36 32-56 79t-20 99q0 90 63 153t153 63q52 0 99-18.5t79-51.5q1 12 1.5 19.5t.5 14.5q0 150-105 255T480-120Zm0-60q109 0 190-67.5T771-406q-25 11-53.667 16.5Q688.667-384 660-384q-114.689 0-195.345-80.655Q384-545.311 384-660q0-24 5-51.5t18-62.5q-98 27-162.5 109.5T180-480q0 125 87.5 212.5T480-180Zm-4-297Z"/></svg>
            </button>
        </div>
        <!-- BOTON HAMBURGUESA -->
        <button id="menu-button" class="md:hidden">
            <span class="dark:bg-white"></span>
            <span class="dark:bg-white"></span>
            <span class="dark:bg-white"></span>
            <span class="dark:bg-white"></span>
            <span class="dark:bg-white"></span>
            <span class="dark:bg-white"></span>
        </button>
        <!-- FIN MENU HAMBURGUESA -->
    </nav>
</header>